div{
    background-color: brown;
    padding: 10px;
    margin-bottom: 10px;
}
H6{
    text-align: center;
    color: blue;
}
.akash{
    background-color: yellow;
}
h2{
    text-align: center;
    font: 250px;
}
img{
    width: 300px;
}
h4{
    text-align: center;
    font-size: 30px;
}
.mariha{
    text-align: center;
    color: red;
}
#maariha{
    text-align: right;
    color: black;
    font-size: 40px;
}