div{
    background-color: brown;
    padding: 10px;
    margin-bottom: 10px;
}
H6{
    text-align: center;
    color: blue;
}
.akash{
    background-color: yellow;
}
h2{
    text-align: center;
    font: 25px;
}

